*{
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #1f2937;
    justify-content: space-between;
    padding: 0 80px;
    flex-wrap: wrap;
}
.logo{
    display: flex;
    flex-direction: row;
    color: #f9fAf8;
    font-size: 24px;
    font-weight: bold;
    flex-wrap: wrap;
   
}

   
.links{
   display: flex;
   flex-direction:row;
   list-style: none;
   gap: 20px;
   margin-left: auto;
   flex-wrap: wrap;
}
a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.container{
    display: flex;
    flex-direction: row;
    flex-direction: column;
    flex-wrap: wrap;
    
}
.one{
    display: flex;
    flex-direction: row;
    background-color: #1f2937;
    height: 80vh;
    padding: 0 80px;
    flex-wrap: wrap;
}

.one1{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 80px 0;
    width: 400px;
}

h1{
    font-size: 48px;
    color: #f9fAf8;
    font-weight: 900;
    margin: 5px 0;
}
p{
    color: #E5E7EB;
    font-size: 18px;
    margin: 5px 0;

}
.landscape{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: auto;

}


.landscape img{
    height: 250px;
    width: 450px;
    border-radius: 10px;
    flex-wrap: wrap;
}

.btn{
    background-color: #3882F6;
    font-size: 15px;
    color: #E5E7EB;
    padding: 6px 8px;
    border-radius: 10px;
    width: 100px;
    margin: 5px 0;
    font-weight: 600;
}

/* .two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:white;
    height: 80vh;
    border: 3px solid yellow;
    align-items: center;
}

.information{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.image-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 3px solid yellow;
    flex: 1;
}

.language{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    border: 3px solid blue;
    flex: 1;
    text-align: center;
    padding: 50px;

} */
.two{
    display: flex;
    flex-direction: column;
    background-color:white;
    height: 80vh;
    align-items: center;
}


.information{
    display: flex;
    flex-direction: column;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding: 20px;
    margin-bottom: 30px;
    margin-top: 20px;
    font-weight: 900;
}



.image-container{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.image-container p{

    color:#1f2937;

}
.image img{
    box-sizing: content-box;
    height: 100px;
    width: 100px;
    padding: 20px;
    border: 4px solid #3882F6;
    border-radius: 15px;
}

.language{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;

}

.image{
    display: flex;
    flex-direction: column;
    margin: 0;
    text-align: center;
    width: 150px;
    height: 250px;
    margin: 0 25px;
    flex-wrap: wrap;
    
}


/* .two img{
    height: 100px;
    width: 100px;
}

.image-container p{
    color:#1f2937;
} */

.three{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    height: 80vh;
   
}

.text1{
    display: flex;
    flex-direction: column;
    width: 800px;
    font-weight: 300;
    font-style: italic;

}

.text1 p{
    font-size: 36px;
    color:#1f2937;
    
}
.text2{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 200px;
}
.text2 p{
    font-size: 20px;
    font-weight: bold;
    color:#1f2937;
}

.four{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: white;
    display: flex;
}

.head{
    width: 400px;
}

.first{
     font-weight: bold;
     font-size: 19px;
}

.second{
    font-size: 15px;
}

.outer{
    display: flex;
    flex-direction: row;
    background-color: #3882F6 ;
    justify-content: center;
    align-items: center;
    padding: 25px 100px; 
    gap: 100px;
    border-radius: 8px;

}

.btn1{
    background-color: #3882F6;
    font-size: 15px;
    width: 100px;
    height: 30px;
    font-weight: 900px;
    color: #E5E7EB;
    border: 3px solid #E5E7EB;
    border-radius: 9px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    height: 18vh;
}

.credit p{
    font-size: 15px;
}


